*{
    margin: 0px;
    font-family: 'Inter';
}

#menu-superior{

    height: 275px;
    background-color: #303030;
    padding-top: 206px;
    padding-left: 62px;
}

#titulo-menu-superior{

    color: #FFFFFF;
    font-size: 50px;
}

#texto-menu-superior{
    
    margin-top: 26px;
    color: #FFFFFF;
}

#menu-informacional{

    background-color:#F9F9F9;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding: 60px;
    padding-left: 130px;
    width: 1310px;
}

#secao-propaganda{

    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding-top: 120px;
    padding-bottom: 120px;
}

#propaganda-escrita{

    padding-top: 25%;
    padding-left: 62px;
}


#titulo-propaganda{

    font-size: 32px;
}

#texto-propaganda{

    margin-top: 32px;
    font-size: 20px;
    padding-bottom: 120px;
}

#propaganda-imagem{

    display: block;
    border-radius: 30px;
    overflow: hidden;
    width: 510px;
    height: 605px;
}

#secao-formulario{

    background-color: #303030;
    text-align: center;
}

#texto-formulario{

    padding-top: 120px;
    color: #FFFFFF;
    padding-bottom: 50px;
}

.bolder{

    margin-left: 60px;
}

.text{

    margin-left: 60px;
}

input{

    background: #EAECE5;
    width: 413px;
    height: 40px;
    border: 0px;
    padding-left: 10px;
    border-radius: 8px;
    margin-bottom: 50px;
}

button{
    background: #da7415;
    color: #FFFFFF;
    font-weight: bolder;
    width: 335px;
    height: 53px;
    border: 0px;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 75px;
    cursor: pointer;
}

button:hover{
    background: #b35f11;
    transform: translateY(-7px);
    transition-duration: 0.5s;
    box-shadow: 0px 5px 10px #383838;
}

